<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="form-line">
  <h1 align="center">Welcome To User Management</h1>
  <nav class="navbar navbar-dark bg-dark" >
    <a class="navbar-brand" href="" routerLink="home">DXC Training</a>
    <ul class="nav nav-tabs ">
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-outline-success btn-sm  mr-3" routerLink="add-user">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="find-user">User Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="all-users">All Users Details</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="update-user">Update User</a>
    </li>
  </ul>
  </nav>
  </div>
  <router-outlet></router-outlet>